main {
	text-align: center;
}

ul {
	width: 50%;
	margin: 10px auto;
	padding: 0;
	border: 1px solid grey;
	list-style: none;
	text-align: left;
}

li {
	border-bottom: 1px solid grey;
	padding: 20px;
}

.first {
	display: flex;
	font-weight: bold;
}

a {
	display: flex;
	text-decoration: none;
	color: black;
}

.first p {
	margin: 0 20px;
	border: 1px solid grey;
	border-radius: 50%;
	padding: 3px 7px;
}

.first a {
	padding: 4px 0;
}

.last {
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.last p {
	margin: 0;
}

@media (max-width: 1023px) {
	ul {
		width: 60%;
	}
}

@media (max-width: 768px) {
	ul {
		width: 85%;
	}
}

@media (max-width: 520px) {
	ul {
		width: 90%;
	}

	.last {
		width: 100%;
	}
}
